.heading h2{
  justify-content: center;
	display: inline;
	background-color: skyblue;
  padding: 10px;
}
.heading h2: hover{
  background-color: white;
  color: blue;
}
.middle{
  display: inline;
  background-color: green;
}
#text {
  color: red;
  justify-content: right;
}
#extra: hover{
  background-color: white;
  color: green;
}
